* {
  font-family: 'Kufam', cursive;
}

body {
  widows: 100%;
  height: 100%;
  background-color: #eee;
  font-size: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 650px;
  margin: 0 auto;
  padding: 0 15px 40px;
}

.calc {
  margin: 20px auto;
  background-color: #56526a;
  width: 483px;
  padding: 5px;
  border-radius: 12px;
}

.calc-display-input {
  width: 460px;
  height: 60px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #fff;
  color: #56526a;
  text-align: right;
  font-size: 42px;
  padding: 10px;
}

.calc_button-row td {
  margin: 0 auto;
  padding: 5px;
}

.btn {
  width: 84px;
  height: 60px;
  background-color: #f4f4f4;
  font-size: 28px;
  color: #56526a;
  text-transform: uppercase;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.1s all;
  outline: none;
  padding-left: 0;
  padding-right: 0;
  font-weight: 700;
}

.btn:focus {
  outline: none;
}

.btn-hover-red:hover {
  background-color: #d83e33;
  color: #f2f2f2;
}

.btn-hover-orange:hover {
  background-color: #FF6A00;
  color: #f2f2f2;
}

.btn-hover-green:hover {
  background-color: green;
  color: #f2f2f2;
}

.btn:active {
  transform: translateY(3px);
  box-shadow: 0px 0px #ccc;
  outline: none;
}

.btn-long {
  width: 183px;
}

.btn-equal {
  height: 145px;
}

input, button {
  padding: 5px 15px;
  margin: 10px;
  border: 1px grey solid;
  border-radius: 4px;
}

button {
  margin-left: 0;
  padding: 15px 24px;
}
